<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Pilihan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="/css/home.css" rel = stylesheet type="text/css">
</head>
<body>
    <div class="container">
        <h1>Selamat Datang di Pinjolku</h1>
        <p>Pilih untuk login sebagai:</p>
        <div class="button-container">
            <a href="/LogAdmin" class="button admin">Admin</a>
            <a href="/LogNasabah" class="button nasabah">Nasabah</a>
        </div>
    </div>
</body>
</html>
